.contact-page form {
    display: flex;
    flex-flow: column;
    margin-bottom: 150px;
}

.contact-page input, .contact-page textarea {
    border: 0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    min-width: 400px;
    background-color: #eee;
    color: #282A36;
    font-family: 'Ubuntu', sans-serif;
}

.contact-page input:focus, .contact-page textarea:focus {
    outline: 0;
}

.contact-page textarea {
    resize: none;
    min-height: 100px;
}

.contact-page button {
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 10px;
    color: #eee;
    border: 0;
    background-color: #FF2521;
    cursor: pointer;
    transition: all .2s;
}

.contact-page button:focus {
    outline: 0;
}

.contact-page button:hover {
    filter: brightness(0.7);
}