.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 10px 20px 10px;
    list-style: none;
}

.main-header li {
    padding: 5px;
    margin: 0px 20px;
    
}

.main-header a {
    text-decoration: none;
    color: #BCC2CD;
    font-size: 20px;
}

.main-header a:hover {
    color: #FF2521;
}

.main-header .active {
    color: #FF2521;
}